/* This setting is used to manipulate and style with CSS every element on the website. */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html{
  scroll-behavior: smooth;
}

body {
  background-color: #aad4cf;
  color: black;
  font-size: 17px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 23px;
}

h1 {
  position: absolute; /* This is one of the value to change the position. */
  top: 50%;
  width: 100%;
  font-size: 50px;
  text-align: center;
  color: white;
  font-weight: 300;
}

.site-header {
  position: relative; /* This one is for change the position based in the original values of the website. */
  margin: -1em auto;
}

img {
  width: 100%;
}

/* When a selector start with dot, is for select a class attribute. */
.navigation a {
  text-decoration: none;
  display: inline-block;
  color: black;
  transition: background-color 0.3s;
  padding: 1.5em 0%;
  text-transform: uppercase;
  text-align: center;
}

.navigation a:hover {
  background-color: darkslategrey;
}

.navigation a:hover {
  color: white;
}

.navigation ul {
  margin: 0 auto;
  padding: 0;
  max-width: 1334px;
  display: flex; /* This value allows me to flex a container. */
}

.navigation ul li {
  display: inline-block; /* This element is for use all the space I need in the content, including width and height properties. */
  width: 50%;
  color: darkslategray;
  padding: 0%;
}

.navigation ul a {
  display: block; /* This element is for use width completely I need in the content. */
  width: auto;
}

.story {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.content {
  margin: 0 auto;
  max-width: 1100px;
  background-color: #d2fffa;
  border-bottom: 80px solid #d2fffa;
}

main {
  padding: 0 1em;
}

main img {
  width: 20%;
  float: left; /* This property is used to move the content within its containing element. */
  margin: 0 1em 1em 0; /* 0 is for adjust the top value, the first 1em is for adjust the bottom, the second 1em for adjust the left and the last 0 is for adjust the right. */
}

p {
  color: black;
}

.facts {
  color: black;
}

form {
  border: 1px solid black;
  color: black;
  text-align: left;
  padding: 1em;
}

/* In this case those are the values I used to style the button. */
button {
  color: black;
  border: 1px solid black;
  background-color: #d2fffa;
  padding: 1em;
  margin-top: 1em;
}

label input {
 margin: 1em;
}

.footer {
  position: relative;
  float: right;
}

